@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}